.chat-component{
  border-radius: 10px;
  background-color:#f9f9f9;
  padding: 10px 30px;
  margin: 30px;
  //box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  *{
    text-decoration: none;
    color: black;
  }
  .message-date{
    text-align: right;
  }
  .message-container{
    height: 20px;
    display: flex;
    justify-content: space-between;
  }

}
.button-div{
  
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border:none;
  >*{
    text-align: left;
  }
}
