<div class="chatinfo-page">
    <div class="chatinfo-container">
        <div class="chatinfo-header">
            <h3>{{chatInfo?.isChat?"Chat Info":"Channel Info"}}</h3>
            <div style="display: flex;position: relative;">
                <button class="btn" (click)="this.isDisplayContextMenu=!this.isDisplayContextMenu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <app-context-menu
                        *ngIf="clickMenuItems.length > 0 && isDisplayContextMenu"
                        style="position: absolute;left: -120px;z-index: 999"
                        [contextMenuItems]="clickMenuItems"
                        (onContextMenuItemClick)="handleMenuItemClick($event)"
                ></app-context-menu>
                <button class="btn" (click)="CloseChatInfo.emit()">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
        <div *ngIf="!isOpenEditMode&&!isOpenAddUserMode">
            <h5>{{chatInfo?.name}}</h5>
            <hr>
            <label>description:</label>
            <h6>{{chatInfo?.description}}</h6>
            <hr>
            <h6>Users:</h6>
            <div class="chatinfo-users"  *ngIf="this.chatInfo">
                <app-userinfo-element class="chatinfo-user" *ngFor="let user of users" [userProfile]="user">
                </app-userinfo-element>

            </div>
        </div>
        <div *ngIf="isOpenEditMode && this.chatInfo">
            <input type="text" [(ngModel)]="editName">
            <button class="btn" (click)="this.editChat()">
                <mat-icon>edit</mat-icon>
                Edit
            </button>
        </div>
        <div *ngIf="isOpenAddUserMode && this.chatInfo">
            <input type="text" [(ngModel)]="addUserName">
            <button class="btn" (click)="this.findUser()">
                <mat-icon>search</mat-icon>
            </button>
            <app-userinfo-element *ngIf="addUserModel" [userProfile]="addUserModel"></app-userinfo-element>
            <button [disabled]="!addUserModel" class="btn" (click)="this.addUser()">
                <mat-icon>add</mat-icon>
                AddUser
            </button>
        </div>

    </div>
</div>
